mixin disclaimer
    p You are viewing this page via #[i s621.]
    p s621 is an alternative interface for #[a(href="https://e621.net") e621],
    | that makes use of their #[a(href="https://e621.net/help/api") free-to-use API endpoints].
    p Please use responsibly. - Sadie

mixin topbar
    #topbar
        a.logo(href="/")
            img(src="/static/favicon.png")
        a(href="/settings") Settings
        a(href="/posts") Posts